<a href="https://colab.research.google.com/github/jelly12paw/00/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("첫번째 파이썬 프로그래밍")

첫번째 파이썬 프로그래밍

In [ ]:
a=1
print(a)

1

In [ ]:
b=5
a=b
print(a)

5

In [ ]:
num1 = [1, 2, 3, 4, 5]
print(num1[3])
num1[2]

4

3

In [ ]:
a = 1
b = 5
c = 3.3
d = 0.5
print(a, b, c, d)

1 5 3.3 0.5

In [ ]:
a = 10
b = 5
c = 3
print(a + b, a - b, a * b, a / b)
print(a**c, a//c, a%c)

15 5 50 2.0
1000 3 1

In [ ]:
str1 = "python"
str2 = "programming"
print(str1+str2)
print(str1*2)

pythonprogramming
pythonpython

In [ ]:
str = "python programming"
print(str[0], str[1], str[10])
print(str[0:4])
print(str[5:9])

p y g
pyth
n pr

In [ ]:
print("오늘은 %d일 입니다." %14)
print("오늘은 %s 입니다." %"수요일")
print("지금 온도는 %f도 입니다." %32.7)
print("지금 온도는 %0.2f도 입니다." %32.7)

오늘은 14일 입니다.
오늘은 수요일 입니다.
지금 온도는 32.700000도 입니다.
지금 온도는 32.70도 입니다.

In [ ]:
str = "파이썬\n프로그래밍"
print(str)

파이썬
프로그래밍

In [ ]:
str = "Python Programming"
print(str.count('y'))
print(str.find('m'))
print(str.upper())
print(str.lower())
print(str.replace('Python','Java'))
print(str.split())
print('^'.join(str))

1
13
PYTHON PROGRAMMING
python programming
Java Programming
['Python', 'Programming']
P^y^t^h^o^n^ ^P^r^o^g^r^a^m^m^i^n^g

In [ ]:
a = 20
b = 10

print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b)
print(a != b)

True
False
True
False
False
True

In [ ]:
a = 10

if(a > 0) :
  print('a는 양의 정수입니다.')

a는 양의 정수입니다.

In [ ]:
if (a < 0) :
  print('a는 음의 정수입니다.')

print(a)

10

In [ ]:
a = -10

if (a > 0) :
  print('a는 %d입니다.' %a)
  print('a는 양의 정수입니다.')

else :
  print('a는 %d입니다.' %a)
  print('a는 음의 정수입니다.')

a는 -10입니다.
a는 음의 정수입니다.

In [ ]:
a = 0

if (a > 0) :
  print('a는 양의 정수입니다')
elif (a == 0) :
  print('a는 0입니다.')
else :
  print('a는 음의 정수입니다.')

a는 0입니다.

In [ ]:
a = int(input('첫번째 수를 입력하세요'))
b = int(input('두번째 수를 입력하세요'))
c = int(input('세번째 수를 입력하세요'))

if (a >= b) :
  big = a
else : big = b

if (c >= big) :
  print('가장 큰 수는 %d입니다.' %c)
else :
  print('가장 큰 수는 %d입니다.' %big)

첫번째 수를 입력하세요100
두번째 수를 입력하세요50
세번째 수를 입력하세요101
가장 큰 수는 101입니다.

In [ ]:
for i in range(5) :
  print(i)

0
1
2
3
4

In [ ]:
sum = 0

for i in range(1, 6) :
  sum = sum + i
  print('i의 값 :', i, '합계 :', sum)

i의 값 : 1 합계 : 1
i의 값 : 2 합계 : 3
i의 값 : 3 합계 : 6
i의 값 : 4 합계 : 10
i의 값 : 5 합계 : 15

In [ ]:
for i in range(1, 10, 2) :
  print(i, end=' ')  # end=' ' : 결과값을 하나의 줄에서 공백으로 구분하여 출력

1 3 5 7 9

In [ ]:
for x in "python" :
  print(x)

p
y
t
h
o
n

In [ ]:
for i in range(1, 5) :
  for j in range(1, 5) :
    print(i*j, end=' ')
  print()

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16

In [ ]:
for i in range(2, 10) :
  for j in range(1, 10) :
    print('%d*%d=%d' %(i, j, i*j), end=' ')

  print()

2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [ ]:
i = 1
while i <= 5 :
  print('python programming')
  i = i + 1

python programming
python programming
python programming
python programming
python programming

In [ ]:
sum = 0
i = 1
while i <= 5 :
  sum = sum + i
  print('i의 값 :', i, 'sum의 값 :', sum)
  i = i + 1

i의 값 : 1 sum의 값 : 1
i의 값 : 2 sum의 값 : 3
i의 값 : 3 sum의 값 : 6
i의 값 : 4 sum의 값 : 10
i의 값 : 5 sum의 값 : 15

In [ ]:
i = 0 
s = 'python programming'

while i <= (len(s) - 1) :
  print(s[i], end=' ')
  i = i + 1

p y t h o n   p r o g r a m m i n g

In [ ]:
i = 0
while i < 100 :
  print(i, end=' ')
  i = i + 1
  if i == 10 :
    break

0 1 2 3 4 5 6 7 8 9

In [ ]:
a = [70, 60, 55, 95, 80, 70, 85, 47, 83, 78]
sum = 0
avg = 0

for i in a :
  sum = sum + i
  avg = sum / 10

print('평균은 %f 입니다' %avg)

평균은 72.300000 입니다

In [ ]:
a = [70, 60, 55, 95, 80, 70, 85, 47, 83, 78]
sum = 0
avg = 0

i = 0
while i < 10 :
  sum = sum + a[i]
  i = i + 1

avg = sum / 10
print('평균 :', round(avg, 2))

평균 : 72.3

In [ ]:
a = []
b = [1, 2, 3]
c = ['사과', '오렌지', '딸기', '포도', '바나나']
d = [1, 2, 'python', '프로그래밍']

In [ ]:
a = [1, 2, 3, 4, 5]
print(a)
print(a[0], a[-1], a[0] + a[2])

[1, 2, 3, 4, 5]
1 5 4

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

print(a + b)
print(a * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a = ['a', 'b', 'c']

a.append('d')
print(a)

a.insert(1, 'aa')
print(a)

['a', 'b', 'c', 'd']
['a', 'aa', 'b', 'c', 'd']